/* Footer */
footer {
    height: 100%;
    background-color: $primary-background-color;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
    &__nav-list {
      display: flex;
      flex-direction: column;
    }
    &__nav-list-item {
      margin: 5px;
    }
    &__nav-link {
      color: $primary-color;
      font-size: calc(0.9rem + 0.9vw);
    }
  }
   
.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
  text-align: center;
  span,
  a {
    font-size: calc(0.7rem + 0.7vw);
    color: $secondary-warning-color;
  }
  &__juno-link {
    text-decoration: none;
  }
}