/* Header*/
header {
    min-height: 100vh;
    // background-image: url(../assets/banner.jpg);
    background-image: linear-gradient(to top rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__mobile-nav {
    display: none;
    cursor: pointer;
  }
  &__mobile-icon {
    color: $primary-color;
    font-size: calc(1.7rem + 1.7vw);
  }
  &__nav-list {
    display: flex;
    justify-content: space-evenly;
  }
  &__nav-link {
    color: $primary-color;
  }
  &__last-link {
    margin-left: 50px;
  }
}

.header-description {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    width: 100%;
    text-align: center;
    color: $primary-text-color;
  }
}
  


  