@media (max-width: 900px) {
  
  /* HEADER */
  .header {
    display: block;
    &__mobile-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__mobile-nav {
      display: block;
    }
    &__nav {
      display: none;
      position: absolute;
      width: 90%;
    }
    &__mobile-icon {
      display: block;
    }
    &__nav-link {
      display: block;
    }
    &__last-link {
      margin-left: 0;
    }
  }

  /* MAIN */
  .main {
    &__container {
      flex-direction: column;
    }
    &__img {
      width: 80%;
    }
    &__search {
      margin-left: 0;
      width: 80%;
    }
  }
}


@media (max-width: 768px) {

  /* MAIN */
  .main {
    &__buttons {
      width: 80%;
    }
    &__button {
      width: 50%;
    }
  }

  /* FORM */
  .form {
    flex-direction: column;
    align-items: center;
    &__input {
      width: 80%;
      margin-bottom: 3rem;
    }
    &__button {
      width: 75%;
      margin-left: 0;
    }
  }
}

@media (max-width: 600px) {

  /* RECIPE MODAL */
  .recipe {
    &__img {
      width: 100%;
    }
    &__instructions {
      width: 80%;
      margin: 0;
    }
  }
}

@media (max-width: 480px) {

  /* HEADER */
  .header {
    &__nav-list {
      flex-direction: column;
      text-align: center;
    }
  }

  /* MAIN */
  .main {
    &__buttons {
      width: 100%;
    }
  }

  /* FORM */
  .form {
    &__input {
      width: 100%;
    }
    &__button {
      width: 95%;
    }
  }

  /* RECIPES */
  .recipes {
    padding: 50px 0;
    &__details {
      margin: 1rem;
    }
  }

  /* RECIPE MODAL */
  .recipe {
    &__content {
      padding: 25px 0;
    }
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    &__logo {
      order: 2;
      margin-top: 3rem;
    }
    &__nav-list {
      align-items: center;
    }
  }
}


@media (max-width: 360px) {
  /* Header */

  .modal-content {
    h3 {
      font-size: 1.2rem;
    }
    p, li {
      font-size: 1rem;
    }
  }

  .mobile-nav {
    i {
      font-size: 1.6rem;
    }
  }
}