@media (max-width: 900px) {
  /* Header */
  .header-content {
    display: block;
  }

  .header-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    display: none;
    position: absolute;
    width: 90%;

    ul {
      display: block!important;
      text-align: right;
    }

    li {
      display: block;
    }
  }

  .header-nav-list li:last-child {
    margin-left: 0;

  }
  .mobile-nav{
    display: block;
  }


  /* Main */
  .main-container {
    flex-direction: column;
  }

  .main-search {
    margin-left: 0;
  }

  .main-img,
  .main-search {
    width: 80%;
  }
}


@media (max-width: 768px) {
  /* Form */
  form {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .btn {
    margin-left: 0;
    width: 100%;
    padding: 5px 10px;
  }
}


@media (max-width: 480px) {

  .recipe-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
  }

  .recipe-details {
    background-color: $primary-background-color;
    border-radius: 5%;
    text-align: center;
    width: 100px;
    margin: 1rem;
    border: none;
  }


  /* Footer */
  .footer-container {
    flex-direction: column;
  }

  .footer-logo {
    order: 2;
    margin-top: 2.5rem;;
  }

  .footer-nav-list {
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 360px) {
  /* Header */
  h1 {
    font-size: 1.5rem;
  }

  .modal-content {
    h3 {
      font-size: 1.2rem;
    }
    p, li {
      font-size: 1rem;
    }
  }

  .mobile-nav {
    i {
      font-size: 1.6rem;
    }
  }
}