/* FONTS
========================== */
// Body - font-family: 'Raleway', sans-serif;
// Headings - font-family: 'Ovo', serif;


/* MIXINS
========================== */

@mixin primary-font(
  $font-size,
  $line-height,
  $letter-spacing: normal,
  $font-weight: 400,
  )
  {
  font-family: 'Raleway', 'Times', 'Arial', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

@mixin secondary-font(
  $font-size,
  $line-height,
  $letter-spacing: normal,
  $font-weight: 400,
)
{
  font-family: 'Ovo', 'Times', 'Arial', serif;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-weight: $font-weight;
}

/* COLORS*/

// Functional Colors:
$primary-background-color: #070808;
$secondary-background-color: #262119;
$accent-background-color: rgba(192, 95, 38, 0.2);
$primary-text-color: #FAFAFA;
$secondary-text-color: #C4C4C1;
// Primary Brand Colors:
$primary-color: #EFAC27;
$secondary-color: #6B8386;

// Feedback Colors:
$warning-color: #CEA533;
$secondary-warning-color: #B56629;
